.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #e7f9fd;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    padding: 10px;
  }

  & .content {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    & h2 {
      font-size: 40px;
      font-weight: 600;
    }

    & p {
      font-size: 16px;
      max-width: 620px;
    }

    & .input_container {
      display: flex;
      align-items: center;
      gap: 80px;
      margin-top: 20px;
      padding: 10px;
      border-radius: 30px;
      background-color: #fff;

      & input {
        padding: 15px;
        border-radius: 30px;
        border: none;
        outline: none;
      }

      & a {
        padding: 20px 50px;
        background-color: black;
        color: white;
        border-radius: 16px;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        position: relative;
        z-index: 1;
        gap: 20px;
      }
    }
  }

  & .plate {
    position: absolute;
    bottom: 0;
    right: 0;

    @media screen and (max-width: 1000px) {
      bottom: -55px;
      right: -55px;
    }

    @media screen and (max-width: 767px) {
      bottom: -125px;
      right: -125px;
    }
  }

  & .salad_fresh {
    position: absolute;
    bottom: 0;
    left: -40px;

    @media screen and (max-width: 1000px) {
      bottom: -80px;
      left: -140px;
    }

    @media screen and (max-width: 767px) {
      bottom: -130px;
      left: -190px;
    }
  }

  & .rucola {
    position: absolute;
    top: 200px;
    right: 230px;

    @media screen and (max-width: 1000px) {
      top: 130px;
      right: 10px;
    }

    @media screen and (max-width: 767px) {
      top: 10px;
    }
  }
}
