.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;

  & .text_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    width: 50%;

    & h2 {
      font-size: 40px;
      font-weight: 600;
    }

    & p {
      font-size: 16px;
    }

    & a {
      padding: 20px 50px;
      background-color: black;
      color: white;
      border-radius: 16px;
      margin-top: 40px;
      font-size: 14px;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
    }
  }

  & .img_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 30px;
    position: relative;
    background: linear-gradient(
      0deg,
      rgba(201, 241, 250, 1) 0%,
      rgba(255, 255, 255, 1) 60%
    );

    & .tomato {
      position: absolute;
      bottom: 100px;
      left: -30px;

      @media screen and (max-width: 1140px) {
        display: none;
      }
    }

    & .bacon {
      position: absolute;
      top: 100px;
      left: 30px;

      @media screen and (max-width: 1140px) {
        display: none;
      }
    }

    & .onion {
      position: absolute;
      top: 100px;
      right: 140px;

      @media screen and (max-width: 1140px) {
        display: none;
      }
    }

    & .salad {
      position: absolute;
      top: 200px;
      right: 0;

      @media screen and (max-width: 1140px) {
        display: none;
      }
    }

    & .chefImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }

    @media screen and (max-width: 1140px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
